h1{
    color:#826aed;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f9fbf2;
}

.navbar{
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #c879ff;
}

.nav-links{
    display: flex;
    gap: 15px;
}
.nav-links a{
    color: #f9fbf2;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.logo-image{
   height: 60px;

}

.hero{
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero-text h1{

    font-size: 56px;

    font-weight: 700;

    color: #826aed;

    margin-bottom: 20px;
}
.hero-text p{

    font-family: 'Poppins', sans-serif;

    font-size: 20px;

    color: #666;

    margin-bottom: 30px;
}

.hero-text button{
    padding: 10px 20px;

    background-color: #826aed;
    color: #f9fbf2;

    border: none;
    border-radius: 10px;

    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

    cursor: pointer;
}
.hero-text button:hover{

    background: #C879FF;

    transform: translateY(-3px);

}

.features{

    background-color: #C879FF;

    padding: 100px 50px;

    text-align: center;

    border-radius: 20px;
}

.features h2{

    font-family: 'Poppins', sans-serif;

    font-size: 42px;

    margin-bottom: 60px;

    color: #f9fbf2;
}
.features-container{

    display: flex;

    justify-content: center;

    gap: 40px;

    flex-wrap: wrap;
}

.feature-card{

    font-family: 'Poppins', sans-serif;

    background: #f9fbf2;

    width: 300px;

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0 4px 20px rgb(142, 84, 183);

    transition: 0.3s;
}
.feature-card:hover{

    transform: translateY(-10px);
}
.feature-card h3{

    font-size: 40px;

    margin-bottom: 20px;
}
.feature-card h4{

    font-family: 'Poppins', sans-serif ;

    font-size: 24px;

    color: #231f20;
}

.feature-card p{

    color: #666;

    line-height: 1.6;
}